@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:wght@300;500&display=swap');
:root {
    --fundo-vs: rgb(10,14,20);
    --azul-claro: rgb(100,140,200);
    --cor-letra-padrao: rgb(15, 123, 217);
    --cor-letra-amarelo:rgb(255,180,0);
    --cor-anotacao-verde: rgb(134,217,63);
    font-size: 1.3em;
  }
*{
    margin:0px;
    padding:0px;
}
body{
    background-color: var(--fundo-vs);
}
h1#inicio_h1{
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 25px;
}
h1.conta_h1{
    color: var(--cor-letra-amarelo);
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    text-align: center;
    margin-top: 10px;
    font-size: 48px;
}
h2#inicio_h2{
    font-size:24px;
    font-weight: 300;
    background-color: rgb(30, 40, 60);
    max-width: 400px;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 15px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 5px rgb(100, 140, 200,0.25);
}
a#inicio_a,text{
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}
a#inicio_a:hover{
    text-decoration: underline;
}
p#inicio_p{
    text-align: center;
    padding-bottom: 25px;
}
div#quadro_ul{
    border: 1px solid rgba(100, 140, 200,0.25);
    box-shadow: 0px 0px 100px 100px rgb(100, 140, 200,0.065);
    width: 600px;
    padding: 16px;
    margin: auto;
}
header#inicio_header{
    height: 140px;
}
h1.header_index,h2.header_index{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    width: 666px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}
ul{
    list-style-type: disc;
    margin: 32px;
}
li{
    color: var(--cor-letra-padrao);
    text-align: justify;
    margin-bottom: 8px;
}
li.listrinha{
    color: var(--cor-letra-amarelo);
    margin: -15px;
    font-size: 24px;
    text-decoration:underline;
}
li#final{
    color: var(--cor-anotacao-verde)
}
polygon{
    animation-name: bordinha;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:inherit;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);

}
@keyframes bordinha{
    0%{stroke: var(--cor-letra-padrao)}
    33%{stroke: var(--cor-anotacao-verde)}
    66%{stroke: var(--cor-letra-amarelo)} 
    100%{stroke: var(--cor-letra-padrao)}
    
}
@keyframes sumidao{
    to{
        font-size: 0px;
        overflow: hidden;
    }
}
svg{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}
div.conta_formulario{
    border: 1px solid rgba(100, 140, 200,0.25);
    box-shadow: 0px 0px 100px 100px rgb(100, 140, 200,0.075);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding:15px;
    background-color: rgba(250, 250, 255, 0.025)
}
label{
    margin: auto;
    color: white;
    font-family: 'Comfortaa', cursive;
}
label#recuperar_conta{
    font-size: 24px;
    padding: 5px;
    display: block;
}
input{
    width: 90%;
    height: 33px;
    margin: 15px;
    border-radius: 15px;
}
button.conta_button{
    padding: 8px;
    width: 115px;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
a.conta_a_bostao{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: whitesmoke;
    padding: 8px;
    width: 94px;
    height: 23px;
    border: 1px solid gray;
}
div.conta_flash{
    color:crimson;
    text-align: center;
    animation-duration: 1s;
}
div#criaconta{
    background-color: white;
    width: 100px;
    height: 30px;
    border: solid 1px var(--fundo-vs);
    border-radius: 3px;
    box-shadow:0px 0px 100px 100px rgb(100, 140, 200,0.075);
    margin: 15px;
    text-align: center;
}
div.conta_button_div{
    display: flex;
    justify-content:space-between;
    margin-top:15px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
div.conta_button_div>p{
    font-size: 42px;
    margin-left: -80px;
    margin-right: -80px;
    margin-top: -5px;
    color:white;
}
main#site_main > h1{
    text-align: center;
}
div#sucesso{
    color:white;
}
p#recuConta_Login{
    text-align: center;
}
a#recuConta_a_login{
    color: rgb(15, 123, 217);
}
div#quadro_recuperar_conta{
    text-align: center;
    border: 1px solid rgba(100, 140, 200,0.25);
    box-shadow: 0px 0px 100px 100px rgb(100, 140, 200,0.075);
    max-width: 600px;
    margin: auto;
    padding: 20px;
}
input#email_recuperar_conta{
    box-sizing: border-box;
    width: 80%;
    height: 36px;
}