@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:wght@300&display=swap');
:root {
    --fundo-vs: rgb(10,14,20);
    --azul-claro: rgb(100,140,200);
    --cor-letra-padrao: rgb(15, 123, 217);
    --cor-letra-amarelo:rgb(255,180,0);
    font-size: 1.3em;
  }
*{
    margin:0px;
    padding:0px;
}
body{
    background-color: var(--fundo-vs);
}
h1#inicio_h1{
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 25px;
}
h2#inicio_h2{
    font-size:24px;
    font-weight: 400;
    background-color: rgb(30, 40, 60);
    width: 400px;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 15px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 5px rgb(100, 140, 200,0.25);
}
a#inicio_a{
    color: black;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    padding: 9px;
    animation-name: borda;
    animation-duration: 0.01s;
    animation-iteration-count: infinite;
}
a#inicio_a:hover{
    font-size: 24px;
}
p#inicio_p{
    text-align: center;
    padding-bottom: 25px;
}
div#quadro_ul{
    border: 1px solid rgba(100, 140, 200,0.25);
    box-shadow: 0px 0px 100px 100px rgb(100, 140, 200,0.065);
    width: 40%;
    padding: 16px;
}
div#quadro_inicio{
    background-color: rgba(245, 245, 245, 0.9);
    height: 140px;
}
ul{
    list-style-type: disc;
    margin: 32px;
}
li{
    color: var(--cor-letra-padrao);
    text-align: justify;
    margin-bottom: 8px;
}
li.listrinha{
    color: var(--cor-letra-amarelo);
    margin: -15px;
    font-size: 24px;
    text-decoration:underline;
}
li#final{
    color: rgb(134,217,63)
}
svg#svg_inicio{
    
}