<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="conta_h1">Crie aqui sua conta</h1>
    <div class="conta_formulario">
        <form action="/autenticar conta" method="post">
            <label>Nome:<input type="text" name="Nomecriarconta"></label>

            <div class="conta_flash">
                {% with messages = get_flashed_messages(category_filter=["Nome"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <label>Email:<input type="text" name="Emailcriarconta"></label>
            
            <div class="conta_flash">
                {% with messages = get_flashed_messages(category_filter=["Email"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <label>Senha:<input type="text" name="Senhacriaconta"></label>
            
            <div class="conta_flash">
                {% with messages = get_flashed_messages(category_filter=["Senha"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <div class="conta_button_div">
                <button type="submit" class="conta_button">Enviar</button> 
                <p>ou</p>
                <a href="/login" class="conta_a_bostao">login</a>
            </div>
    
        </form>
    </div>

    <script>
        setInterval(esconder, 3200);
        setInterval(matar, 4200);
        function esconder(){
            for(c=0;c < 4;c++){
                document.querySelectorAll('.conta_flash')[c].style.animationName = 'sumidao'
            }
        }
        function matar(){
            for(c=0;c < 4;c++){
                document.querySelectorAll('.conta_flash')[c].style.display = 'none'
            }
        }
    </script>
</body>
</html>