<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="conta_h1">Crie aqui sua conta</h1>
    <div class="conta_flash">
            {% with messagess = get_flashed_messages() %}
                {% if messagess %}
                    {% for message in messagess %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    <div class="conta_formulario">
            <form action="/autenticar conta" method="post">
                {{ form.hidden_tag() }}
                
                <!-- Campo Nome -->
                <div class="form-group">
                    {{ form.nome.label }}
                    {{ form.nome(placeholder="Digite seu nome completo") }}
                    <div class="conta_flash">
                        {% if form.nome.errors %}
                            {% for error in form.nome.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                
                <!-- Campo Email -->
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(placeholder="seu.email@exemplo.com") }}
                    <div class="conta_flash">
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                
                <!-- Campo Senha -->
                <div class="form-group">
                    {{ form.senha.label }}
                    {{ form.senha(placeholder="Crie uma senha segura") }}
                    
                    <div class="conta_flash">
                        {% if form.senha.errors %}
                            {% for error in form.senha.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                
                <!-- Campo Confirmar Senha -->
                <div class="form-group">
                    {{ form.confirmar_senha.label }}
                    {{ form.confirmar_senha(placeholder="Repita sua senha") }}
                    <div class="conta_flash">
                        {% if form.confirmar_senha.errors %}
                            {% for error in form.confirmar_senha.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                
                <!-- Botões de ação -->
                <div class="conta_button_div">
                    {{ form.submit(class="conta_button",id="btn_enviar") }}
                    <p>ou</p>
                    <a href="/login" class="conta_a_bostao">Fazer Login</a>
                </div>
            </form>
        </div>

    <script>
        setInterval(esconder, 3200);
        setInterval(matar, 4200);
        function esconder(){
            for(c=0;c < 4;c++){
                document.querySelectorAll('.conta_flash')[c].style.animationName = 'sumidao'
            }
        }
        function matar(){
            for(c=0;c < 4;c++){
                document.querySelectorAll('.conta_flash')[c].style.display = 'none'
            }
        }
            

        
    </script>
</body>
</html>