<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="header_index">Portifólio Fabricio Nascimento</h1>
        <svg height="47" width="314">
            <polygon points="0,0 314,0 314,47 0,47" style="stroke-width: 2.5px;"/>
            <a xlink:href="/login">
                    <text x="10" y="30" fill="white">Clique aqui para fazer login</text>
        </svg>
    
    <div id="quadro_ul">
        <h2 id="inicio_h2">Flask Backending</h2>
    <ul id="ul_inicio">
        <li style="color: rgb(134,217,63);">#html e estilização css responsiva (bônus)</li>
        <li><span style="text-decoration: underline; font-size: 1.25em;">as seguintes validações em cada categoria</span>:
            <ul id="dentro">
                <li class="listrinha">email:</li>
                    <ul>
                        <li>apenas uma conta email no sistema</li>
                        <li>validação baseada em emails reais, apenas letras, numeros e alguns caracteres especiais são permitidos tais como "_" ou "-"</li>
                    </ul>
                <li class="listrinha">nome:</li>
                    <ul>
                        <li>no mínimo 3 letras e no máximo 16</li>
                        <li>permite e funciona com todas as variações do alfabeto latino</li>
                        <li>aceita alguns caracteres especiais como o apóstrofos (') e o hífen (-) e espaços em branco</li>
                    </ul>
                <li class="listrinha">senha:</li>
                    <ul>
                        <li>no mínimo 8 caracteres</li>
                        <li>no mínimo uma letra maiúscula</li>
                        <li>no mínimo um número</li>
                        <li>no mínimo um caractere especial  (@#$%^&*)</li>
                    </ul>
            </ul>
        </li>
        <li style="color: rgb(134,217,63)">#feito com muito carinho e afinco para concretizar todas as horas de esforço que coloquei estudando e praticando, a realização de um projeto que apesar de pequeno é sólido como este é a prova de que o esforço move mundos</li>
    </ul>
    </div>
    
</body>

</html>