<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 id="login_h1">Efetue seu login</h1>
    <div id="formulario">
        <form action="/autenticar login" method="post">
            <label>Email:<input type="text" id="Email" name="Email"></label>

            <label>Senha:<input type="text" id="SenhaLogin" name="SenhaLogin"></label>

            <div id="login_button_div">
                <button type="submit" class="login_button" onclick="esconder()">Enviar</button>
                <p id="login_p">ou</p>
                <a href="/criar conta" id="login_a_bostao">criar conta</a>
            </div>
        </div>
        <div id="login_flash">
            {% with messagess = get_flashed_messages() %}
                {% if messagess %}
                    {% for message in messagess %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </form>
    <script>
        setInterval(esconder, 2200);
        setInterval(matar, 3200);
        function esconder(){
            document.querySelector('#login_flash').style.animationName = 'sumidao'
        }
        function matar(){
            document.querySelector('#login_flash').style.display = 'none'
        }
    
    </script>
</body>
</html>