<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Faça aqui seu Login</h1>
    <form action="/autenticar login" method="post">
        <label>Email:<input type="text" id="Email" name="Email"></label>
        <br>
        <label>Senha:<input type="text" id="SenhaLogin" name="SenhaLogin"></label>
        <br>
        <button type="submit">Enviar</button> 
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        <a href="/criar conta">Criar conta</a>
    </form>
</body>
</html>