<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="conta_h1">Efetue seu login</h1>
    <div class="conta_formulario">
       <form action="/autenticar login" method="post">
            {{ form.hidden_tag() }}
            <div>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {{ form.email.errors[0] if form.email.errors }}
            </div>
            <div>
            {{ form.senha.label }}<br>
            {{ form.senha(size=32) }}<br>
            {{ form.senha.errors[0] if form.senha.errors }}
            </div>
            <div id="slaLogin">
                {{ form.submit() }}
                <p>ou</p>
                <a href="/criar conta" style="display: contents;">
                    <input type="button" value="Criar conta">
                </a>
            </div>
        </form>
    </div>
        <div class="conta_flash">
            {% with messagess = get_flashed_messages() %}
                {% if messagess %}
                    {% for message in messagess %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </form>
    <p id="recuConta_Login"><a href="/recuperar conta" id="recuConta_a_login">esqueci a senha</a></p>
    <script>
        setInterval(esconder, 2200);
        setInterval(matar, 3200);
        function esconder(){
            document.querySelector('.conta_flash').style.animationName = 'sumidao'
        }
        function matar(){
            document.querySelector('.conta_flash').style.display = 'none'
        }
    </script>
</body>
</html>