<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="conta_h1">Recuperar conta</h1>
    <form action="/vel conta">
        <div id="quadro_recuperar_conta">
            <label for="email_recuperar_conta" id="recuperar_conta">Email:</label>
            <input type="email" name="" id="email_recuperar_conta" name="email_recuperar_conta">
            <button type="submit" class="conta_button">Enviar</button>
        </div>
    </form>
</body>
</html>