<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> ACESSOU </H1> <br> <a href='/'>Voltar</a>
        <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/artj92V8o75VPL7AeQ" width="40%" height="40%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/toptalent-agt-got-talent-heidi-klum-artj92V8o75VPL7AeQ">via GIPHY</a></p>
</body>
</html>