<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="conta_h1">Digite aqui o código de seu email</h1>
    <div class="conta_formulario">
        <form action="/validar codigo" method="post">
            <input type="text" id="codigo_recusenha" name="codigo_recusenha">
            <input type="hidden" name="email" value="{{email}}">
            <button type="submit" class="conta_button" style="margin-left: calc(50% - 52.5px)">Enviar</button>
        </form>
        <div class="conta_flash">
            {% with messagess = get_flashed_messages() %}
                {% if messagess %}
                    {% for message in messagess %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
<script>
        setInterval(matar, 3200);
        function matar(){
            document.querySelector('.conta_flash').style.display = 'none'
        }
</script>
</html>